.drop-zone {
  border: 2px dashed #ccc;
  padding: 25px;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.drop-zone.active {
  background-color: #f7f7f7;
}

.drop-zone .text {
  display: block;
  margin-top: 10px;
}
